*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  align-items: center;
}


.footer{
    position: relative;
    bottom: 0;
    padding: 18px 0;
    margin-bottom: 0;
    background-color: #101010;
    color:#9d9d9d;
    width: 100%;
  }
.logo{
    padding: 20px;
  }
.logo a img{
    display: block;
    margin: 0 auto;
}
.signup{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
}
.container {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 20px rgba(146, 146, 146, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
}
.header {
	border-bottom: 1px solid #f0f0f0;
	padding: 20px 40px;
}
.header h2 {
	margin: 0;
}

.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 15px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: rgb(29, 29, 29);
}

.form-control.success input {
	border-color: #13df68;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 37px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #13df68;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
	font-size: 77%;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: dodgerblue;
	border: 2px solid dodgerblue;
	border-radius: 4px;
	color: white;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
	cursor: pointer;
}
.signin{
    margin-top: 10px;
}
.signin a{
	text-decoration: none;
	color: dodgerblue;
}
.signin a:hover{
	text-decoration: underline;
}
.form p{
	font-size: 70%;
	padding-top: 10px;
	color: grey;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}
/*
@media only screen and (max-height: 610px){
	.footer{
		position: relative;
	}
}*/